.form_div{
    border-radius: 5px;
    background-color:rgb(240, 238, 138); 
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_div form h1{
    color: white;
    margin: 0;
}

.form_div form{
    background-color: rgb(138, 148, 240);
    border-radius: 5px;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}